/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-core/metaphlanstrainphlan Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs
params {

    // nf-core: Specify your pipeline's command line flags
    // Input options
    input                      = null
    // References
    genome                     = null
    igenomes_base              = 's3://ngi-igenomes/igenomes/'
    igenomes_ignore            = false

    // MultiQC options
    multiqc_config             = null
    multiqc_title              = null
    multiqc_logo               = null
    max_multiqc_email_size     = '25.MB'
    multiqc_methods_description = null

    // Boilerplate options
    outdir                       = null
    publish_dir_mode             = 'copy'
    email                        = null
    email_on_fail                = null
    plaintext_email              = false
    monochrome_logs              = false
    monochromeLogs               = false      // required so nf-validation nextflow.enabled.strict works nicely together
    hook_url                     = null
    help                         = false
    version                      = false
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/'


    // personalised params
    samplesheet = "samplsheet.csv"
    input_folder = null
    file_suffix = ".fastq.gz"
    file_spacer = "_"
    publish_dir_mode = 'copy'
    cpus = 16
    memory_gb = 20

    // Preprocessing params
    skip_preprocessing_qc = false
    perform_shortread_qc = true
    shortread_qc_contaminantslist = null
    qc_tool = "fastqc"
    bbmerge_pairs = true
    //perform_runmerging = false
    //perform_shortread_hostremoval = false  # (optional:TBD) 


    // MetaPhlAn params
    run_metaphlan = true
    installdb = false  
    metaphlan_db = null    // "./db"
    s = true
    min_alignment_len = null
    min_mapq_val = 5
    tax_lev = 'a'
    min_cu_len = 2000
    add_viruses = false
    ignore_eukaryotes = false
    ignore_archaea = false
    ignore_bacteria = false
    unclassified_estimation = true

    // StrainPhlAn params
    run_strainphlan = true
    clade = null
    //phylophlan_mode = "fast"
    mutation_rates = true
    strainphlan_db = null    // "./db/"
    clade_markers = "./clade_markers/"
    metadata = null



    // Config options
    config_profile_name        = null
    config_profile_description = null
    custom_config_version      = 'master'
    custom_config_base         = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
    config_profile_contact     = null
    config_profile_url         = null

    // Max resource options
    // Defaults only, expecting to be overwritten
    max_memory                 = '128.GB'
    max_cpus                   = 16
    max_time                   = '240.h'

    // Schema validation default options
    validationFailUnrecognisedParams = false
    validationLenientMode            = false
    validationSchemaIgnoreParams     = 'genomes,igenomes_base'
    validationShowHiddenParams       = false
    validate_params                  = true

}

//
// nf-core-metaphlanstrainphlan pipeline
//
// executor options: executor.exitReadTimeout = '120 min'
executor {
    'google-batch' {
        exitReadTimeout = '90 min'
    }
}
//    'singularity' {
//       exitReadTimeout = '90 min'
//    }
//    'local' {
//      cpus = 8
//      memory = '64 GB'
//    }

process {
    // withName: 'BBMAP_BBDUK' {
    //     ext.args   = 'Ordered=t Ktrim=r K=21 Mink=10 Hdist=2 Qtrim=r Trimq=20 Minlen=50 Maq=10'
    //     // Publish the filtered reads and log files
    //     publishDir = [
    //         [
    //             path: { "${params.outdir}/bbduk/" },
    //             mode: params.publish_dir_mode,
    //             pattern: '*.{fastq.gz}',
    //             overwrite: true
    //             //enabled: params.save_filtered_reads
    //         ],
    //         [
    //             path: { "${params.outdir}/bbduk/" },
    //             mode: params.publish_dir_mode,
    //             pattern: '*.log'
    //         ]
    //     ]
    // }
    withName: 'METAPHLAN_MAKEDB' {
        ext.args   = '--index mpa_vOct22_CHOCOPhlAnSGB_202212'
        memory     = '30 G'
        cpus       = '38'
        //errorStrategy = 'retry'
        //maxRetries = 1
        //exitReadTimeOut = '90 min'
        publishDir = [
            path: { "${params.outdir}/${params.strainphlan_db}/" },
            overwrite: true,
            mode: params.publish_dir_mode
        ]
    }
    // withName: 'METAPHLAN_METAPHLAN' {
    //     memory     = '50 G'
    //     nproc      = 48
    //     publishDir = [
    //         [
    //         path: { "${params.outdir}/metaphlan/sam/" },
    //         mode: params.publish_dir_mode,
    //         overwrite: true,
    //         pattern: '*.sam.bz2'
    //         ],
    //         [
    //         path: { "${params.outdir}/metaphlan/biom/" },
    //         mode: params.publish_dir_mode,
    //         overwrite: true,
    //         pattern: '*.biom'
    //         ],
    //         [
    //         path: { "${params.outdir}/metaphlan/profiles/" },
    //             mode: params.publish_dir_mode,
    //             overwrite: true,
    //             pattern: '*_profile.txt'
    //         ],
    //         [
    //         path: { "${params.outdir}/metaphlan/bwt2/" },
    //             mode: params.publish_dir_mode,
    //             overwrite: true,
    //             pattern: '*.bowtie2out.txt'
    //         ]
    //     ]
    // }
    // withName: 'STRAINPHLAN_STRAINPHLAN' {
    //     ext.args   = '-s --tmp --debug --phylophlan_mode fast'
    //     nproc      = 52
    // }
    // withName: 'STRAINPHLAN_PREP' {
    //     publishDir = [
    //         [
    //         path: { "${params.outdir}/strainphlan/consensus_markers/" },
    //         mode: params.publish_dir_mode,
    //         overwrite: true,
    //         pattern: '*.fastq.gz.pkl'
    //         ],
    //         [
    //         path: { "${params.outdir}/strainphlan/clade_markers/" },
    //         mode: params.publish_dir_mode,
    //         overwrite: true,
    //         pattern: '*.fna'
    //         ],
    //         [
    //         path: { "${params.outdir}/strainphlan/strainphlan_output" },
    //         mode: params.publish_dir_mode,
    //         overwrite: true
    //         ]
    //     ]
    // }
    withName: 'MULTIQC' {
        memory     = '16 G'
        cpus       = '10'
        errorStrategy = 'retry'
        maxRetries = 1
    }
}



// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

// Load nf-core custom profiles from different Institutions
// try {
//     includeConfig "${params.custom_config_base}/nfcore_custom.config"
// } catch (Exception e) {
//     System.err.println("WARNING: Could not load nf-core/config profiles: ${params.custom_config_base}/nfcore_custom.config")
// }

profiles {
    gcb {
        process.executor = 'google-batch'
        workDir = 'gs://mhra-ngs-dev-ut8t-training/workdir/'
        google.project = 'mhra-ngs-dev-ut8t'
        google.location = 'europe-west2'
        google.zone = 'europe-west2-c'
        google.batch.spot = false
        google.batch.machineType = 'n1-standard-8'
        google.batch.usePrivateAddress = true
        google.batch.network = 'global/networks/mhra-ngs-dev-ut8t-network'
        google.batch.subnetwork ='regions/europe-west2/subnetworks/mhra-ngs-dev-eu-west2-1'
        google.batch.serviceAccountEmail = 'nextflow-vm@mhra-ngs-dev-ut8t.iam.gserviceaccount.com'
        //google.batch.serviceAccountEmail = 'dammy.shittu@mhra.gov.uk'
    }
    debug {
        dumpHashes              = true
        process.beforeScript    = 'echo $HOSTNAME'
        cleanup                 = false
        nextflow.enable.configProcessNamesValidation = true
    }
    conda {
        conda.enabled           = true
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        conda.channels          = ['conda-forge', 'bioconda', 'defaults']
        apptainer.enabled       = false
    }
    mamba {
        conda.enabled           = true
        conda.useMamba          = true
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    docker {
        docker.enabled          = true
        conda.enabled           = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
        docker.runOptions       = '-u $(id -u):$(id -g)'
    }
    arm {
        docker.runOptions       = '-u $(id -u):$(id -g) --platform=linux/amd64'
    }
    singularity {
        singularity.enabled     = true
        singularity.autoMounts  = true
        conda.enabled           = false
        docker.enabled          = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
        singularity.pullTimeout = "3 hours"     // the default is 20 minutes and fails with large images
    }
    podman {
        podman.enabled          = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    shifter {
        shifter.enabled         = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    charliecloud {
        charliecloud.enabled    = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        apptainer.enabled       = false
    }
    apptainer {
        apptainer.enabled       = true
        apptainer.autoMounts    = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
    }
    wave {
        apptainer.ociAutoPull   = true
        singularity.ociAutoPull = true
        wave.enabled            = true
        wave.freeze             = true
        wave.strategy           = 'conda,container'
    }
    gitpod {
        executor.name           = 'local'
        executor.cpus           = 4
        executor.memory         = 8.GB
    }
    test {
        includeConfig 'conf/test.config'
        params.samplesheet = params.input     // Set samplesheet to the value of 'input' defined in conf/test.config
        installdb               = true        // Ensures latest database is downloaded for the test profile
    }
    test_full { includeConfig 'conf/test_full.config' }
}

// Set default registry for Apptainer, Docker, Podman and Singularity independent of -profile
// Will not be used unless Apptainer / Docker / Podman / Singularity are enabled
// Set to your registry if you have a mirror of containers
apptainer.registry   = 'quay.io'
docker.registry      = 'quay.io'
podman.registry      = 'quay.io'
singularity.registry = 'quay.io'

// Nextflow plugins
plugins {
    id 'nf-validation@1.1.3' // Validation of pipeline parameters and creation of an input channel from a sample sheet
}

// Load igenomes.config if required
if (!params.igenomes_ignore) {
    includeConfig 'conf/igenomes.config'
} else {
    params.genomes = [:]
}
// Export these variables to prevent local Python/R libraries from conflicting with those in the container
// The JULIA depot path has been adjusted to a fixed path `/usr/local/share/julia` that needs to be used for packages in the container.
// See https://apeltzer.github.io/post/03-julia-lang-nextflow/ for details on that. Once we have a common agreement on where to keep Julia packages, this is adjustable.

env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
    JULIA_DEPOT_PATH = "/usr/local/share/julia"
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

// Disable process selector warnings by default. Use debug profile to enable warnings.
nextflow.enable.configProcessNamesValidation = false

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${trace_timestamp}.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${trace_timestamp}.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${trace_timestamp}.html"
}

manifest {
    name            = 'nf-core/metaphlanstrainphlan'
    author          = """IDS"""
    homePage        = 'https://github.com/nf-core/metaphlanstrainphlan'
    description     = """Pipeline carries out taxonomy analysis on metagenomic sequencing by pre-processing reads and using metaphlan and strainphlan.\n"""
    mainScript      = 'main.nf'
    nextflowVersion = '!>=23.04.0'
    version         = '1.0dev'
    doi             = ''
}

// Load modules.config for DSL2 module specific options
includeConfig 'conf/modules.config'

// Function to ensure that resource requirements don't go beyond
// a maximum limit
def check_max(obj, type) {
    if (type == 'memory') {
        try {
            if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
                return params.max_memory as nextflow.util.MemoryUnit
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'time') {
        try {
            if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
                return params.max_time as nextflow.util.Duration
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'cpus') {
        try {
            return Math.min( obj, params.max_cpus as int )
        } catch (all) {
            println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
            return obj
        }
    }
}
